CREATE DATABASE [test23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test23', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\test23.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test23_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\test23_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test23].[dbo].[sp_fulltext_database] @action = 'enable'
end
ALTER DATABASE [test23] SET ANSI_NULL_DEFAULT OFF 
ALTER DATABASE [test23] SET ANSI_NULLS OFF 
ALTER DATABASE [test23] SET ANSI_PADDING OFF 
ALTER DATABASE [test23] SET ANSI_WARNINGS OFF 
ALTER DATABASE [test23] SET ARITHABORT OFF 
ALTER DATABASE [test23] SET AUTO_CLOSE OFF 
ALTER DATABASE [test23] SET AUTO_SHRINK OFF 
ALTER DATABASE [test23] SET AUTO_UPDATE_STATISTICS ON 
ALTER DATABASE [test23] SET CURSOR_CLOSE_ON_COMMIT OFF 
ALTER DATABASE [test23] SET CURSOR_DEFAULT  GLOBAL 
ALTER DATABASE [test23] SET CONCAT_NULL_YIELDS_NULL OFF 
ALTER DATABASE [test23] SET NUMERIC_ROUNDABORT OFF 
ALTER DATABASE [test23] SET QUOTED_IDENTIFIER OFF 
ALTER DATABASE [test23] SET RECURSIVE_TRIGGERS OFF 
ALTER DATABASE [test23] SET  DISABLE_BROKER 
ALTER DATABASE [test23] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
ALTER DATABASE [test23] SET DATE_CORRELATION_OPTIMIZATION OFF 
ALTER DATABASE [test23] SET TRUSTWORTHY OFF 
ALTER DATABASE [test23] SET ALLOW_SNAPSHOT_ISOLATION OFF 
ALTER DATABASE [test23] SET PARAMETERIZATION SIMPLE 
ALTER DATABASE [test23] SET READ_COMMITTED_SNAPSHOT OFF 
ALTER DATABASE [test23] SET HONOR_BROKER_PRIORITY OFF 
ALTER DATABASE [test23] SET RECOVERY FULL 
ALTER DATABASE [test23] SET  MULTI_USER 
ALTER DATABASE [test23] SET PAGE_VERIFY CHECKSUM  
ALTER DATABASE [test23] SET DB_CHAINING OFF 
ALTER DATABASE [test23] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
ALTER DATABASE [test23] SET TARGET_RECOVERY_TIME = 60 SECONDS 
ALTER DATABASE [test23] SET DELAYED_DURABILITY = DISABLED 
ALTER DATABASE [test23] SET QUERY_STORE = OFF
ALTER DATABASE [test23] SET  READ_WRITE 
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[fileprocessqueues](
	[queueid] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[fid] [int] NULL,
	[fname] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remarks] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[startdate] [datetime] NULL,
	[enddate] [datetime] NULL,
	[status] [tinyint] NULL
) ON [PRIMARY]

 GO  
ALTER TABLE [dbo].[fileprocessqueues] ADD  CONSTRAINT [PK_fileprocessqueues] PRIMARY KEY CLUSTERED 
(
	[queueid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
 GO 
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[girChanges](
	[tttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ttttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tttttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tttttttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ttttttttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[aaaaaa] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

 GO  
SET ANSI_PADDING ON

ALTER TABLE [dbo].[girChanges] ADD  CONSTRAINT [PK_girChanges] PRIMARY KEY CLUSTERED 
(
	[tttt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
 GO 
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[pfiles](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[uid] [int] NULL,
	[fname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fdname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[pdfpath] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[pngpath] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remarks] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

 GO  
ALTER TABLE [dbo].[pfiles] ADD  CONSTRAINT [PK_pfiles] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
 GO 
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[projects](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NOT NULL,
	[pname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[plant] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[area] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[unit] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[createddate] [datetime] NOT NULL,
	[modifiedate] [datetime] NOT NULL
) ON [PRIMARY]

 GO  
ALTER TABLE [dbo].[projects] ADD  CONSTRAINT [PK_projects] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
 GO 
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[tab_test](
	[nnnnn] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ttttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tetttt] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ttttttaaa] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[slslslssl] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

 GO  
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[users](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[pwd] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[fname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isadmin] [bit] NOT NULL,
	[createddate] [datetime] NULL,
	[updatedate] [datetime] NULL
) ON [PRIMARY]

 GO  
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
 GO 
