USE [test]
GO
/****** Object:  Table [dbo].[tab_test]    Script Date: 6/13/2022 12:09:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_test](
	[nnnnn] [nchar](10) NULL,
	[ttttt] [nchar](10) NULL
) ON [PRIMARY]
GO
